<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Técnicos</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr><th>Nombre</th><th>Apellido</th><th>&nbsp;</th></tr>
                <tr ng-repeat="t in tecnicos | orderBy: 'personas_apellido'">
                    <td>{{t.personas_nombre}}</td>
                    <td>{{t.personas_apellido}}</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>


