<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nuevo Equipo</h3>
        </div>
        <div class="panel-body">
            <form name="nuevoEquipo" role="form" ng-submit="submitEquipoNuevoForm(nuevoEquipo)" novalidate>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group has-feedback" ng-class="{'has-error':nuevoEquipo.eNombre.$error.required && (nuevoEquipo.$submitted || nuevoEquipo.eNombre.$touched)}">
                            <label for="eNombre">Nombre</label>
                            <input type="text" class="form-control" id="eNombre" name="eNombre" ng-model="equipo.nombre" required>
                            <div ng-show="nuevoEquipo.$submitted || nuevoEquipo.eNombre.$touched">
                                <div ng-show="nuevoEquipo.eNombre.$error.required">
                                    <span class="text-danger">Ingrese un nombre</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eFechaFund">Fecha de fundación</label>
                            <input type="text" class="form-control" id="eFechaFund" ng-model="equipo.fecha">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eEstadio">Estadio</label>
                            <input type="text" class="form-control" id="eEstadio" ng-model="equipo.estadio">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eEscudo">Escudo</label>
                            <input type="text" class="form-control" id="eEscudo" ng-model="equipo.escudo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eCiudad">Ciudad</label>
                            <select class="form-control" id="eCiudad" ng-model="equipo.ciudad" ng-options="c.ciudades_nombre for c in ciudades">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eProvincia">Provincia</label>
                            <select class="form-control" id="eProvincia" ng-model="equipo.provincia" ng-options="p.provincia_nombre for p in provincias">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ePais">País</label>
                            <select class="form-control" id="ePais" ng-model="equipo.pais" ng-options="p.paises_nombre for p in paises">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br>
                        <button id="btnSave" type="submit" class="btn btn-default">Guardar</button>
                        <span class="text-success" ng-show="showMessageEquipoOK"><strong>Equipo Guardado!</strong></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>