<div class="col-lg-12" ng-show="showHistorialPanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button ng-click="btnCloseHistorial()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="panel-title">{{historialTitle}}</h3>
        </div>
        <table class="table table-striped" id="tableHistorial">
            <thead>
            <tr><th>J</th><th>G</th><th>E</th><th>P</th><th>GF</th><th>GC</th>
            </thead>
            <tbody>
            <tr><td>{{historialJugados}}</td><td>{{historialGanados}}</td><td>{{historialEmpatados}}</td><td>{{historialPerdidos}}</td><td>{{historialGolesFavor}}</td><td>{{historialGolesContra}}</td>
            </tbody>
        </table>
    </div>
</div>
