<div class="container-fluid">
  <div ng-include="'navbar.html'"></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Torneos Instancias</h3>
        </div>
        <div class="panel-body">
          <form name="nuevoTorneoInstancia">
            <div class="form-group">
              <label for="tiNombre">Nombre</label>
              <input type="text" class="form-control" id="tiNombre" ng-model="torneoInstancia.nombre" required>
            </div>
            <div class="form-group">
              <label for="tiTorneo">Torneo</label>
              <select class="form-control" id="tiTorneo" ng-model="torneoInstancia.torneo" ng-options="t.torneos_nombre for t in tipoTorneos"></select>
            </div>
            <div class="form-group">
              <label for="tiAno">Año</label>
              <input type="text" class="form-control" id="tiAno" ng-model="torneoInstancia.anio" required>
            </div>
            <button type="submit" class="btn btn-default" ng-click="submitTorneosInstanciaNuevoForm()">Guardar</button>
            <span class="text-success" ng-show="showMessageInstanciaOK"><strong>Torneo Instancia Guardada!</strong</span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Torneos</h3>
        </div>
        <div class="panel-body">
          <form name="nuevoTorneo">
            <div class="form-group">
              <label for="tiNombre">Nombre</label>
              <input type="text" class="form-control" id="tiNombre" ng-model="torneo.nombre" required>
            </div>
            <div class="form-group">
              <label for="tiTorneo">Tipo</label>
              <select class="form-control" id="tiTorneo" ng-model="torneo.tipo">
                <option value="N" ng-selected="true">Nacional</option>
                <option value="I">Internacional</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="submitTorneoNuevoForm()">Guardar</button>
            <span class="text-success" ng-show="showMessageTorneoOK"><strong>Torneo Guardado!</strong</span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Torneos</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <select size="5" class="form-control" id="selectTorneos" name="selectTorneos">
              <option ng-repeat="t in torneosTodos" value="{{t.torneos_instancias_id}}">{{t.torneos_instancias_nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" ng-click="btnShowHistorial(t) " class="btnHistorial btn btn-primary btn-xs" data-toggle="modal" data-target="#historialModal" data-placement="top" title="Historial del {{t.torneos_instancias_nombre}}">Ver historial <i class="fa fa-history"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- historialModal -->
<div class="modal fade" id="historialModal" tabindex="-1" role="dialog" aria-labelledby="historialModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historialModalLabel">Historial</h4>
      </div>
      <div class="modal-body" style="max-height: 450px; overflow-y: auto;">
        <table class="table table-striped" id="tableHistorial">
          <thead>
            <tr><th>J</th><th>G</th><th>E</th><th>P</th><th>GF</th><th>GC</th>
          </thead>
          <tbody>
            <tr><td>{{historialJugados}}</td><td>{{historialGanados}}</td><td>{{historialEmpatados}}</td><td>{{historialPerdidos}}</td><td>{{historialGolesFavor}}</td><td>{{historialGolesContra}}</td>
          </tbody>
        </table>
        <table class="table table-striped">
          <tr><th>Día</th><th>Resultado</th><th>Instancia</th></tr>
          <tr ng-repeat="p in partidosHistorial" ng-switch on="p.partidos_condicion">
            <td>{{p.partidos_dia | date: 'dd.MM.yyyy'}}</td>
            <td ng-switch-default><img src="http://cdn.datafactory.la/escudos_ch/10.gif" height="24" width="24" alt="Independiente" title="Independiente"/> {{p.partidos_goles_cai}} - {{p.partidos_goles_rival}} <img src="{{p.equipos_escudo}}" height="24" width="24" alt="{{p.equipos_nombre}}" title="{{p.equipos_nombre}}"/></td>
            <td ng-switch-when="V"><img src="{{p.equipos_escudo}}" height="24" width="24" alt="{{p.equipos_nombre}}" title="{{p.equipos_nombre}}"/> {{p.partidos_goles_rival}} - {{p.partidos_goles_cai}} <img src="http://cdn.datafactory.la/escudos_ch/10.gif" height="24" width="24" alt="Independiente" title="Independiente"/></td>
            <td>{{p.partidos_instancia}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
