<div class="container-fluid">
  <div ng-include="'navbar.html'"></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Últimos ocho partidos</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr><th>Día</th><th>Resultado</th><th>Torneo</th><th>Instancia</th></tr>
            <tr ng-repeat="p in partidos" ng-switch on="p.partidos_condicion">
              <td>{{p.partidos_dia | date: 'dd.MM.yyyy'}}</td>
              <td ng-switch-default><img src="http://cdn.datafactory.la/escudos_ch/10.gif" height="24" width="24" alt="Independiente" title="Independiente"/> {{p.partidos_goles_cai}} - {{p.partidos_goles_rival}} <img src="{{p.equipos_escudo}}" height="24" width="24" alt="{{p.equipos_nombre}}" title="{{p.equipos_nombre}}"/></td>
              <td ng-switch-when="V"><img src="{{p.equipos_escudo}}" height="24" width="24" alt="{{p.equipos_nombre}}" title="{{p.equipos_nombre}}"/> {{p.partidos_goles_rival}} - {{p.partidos_goles_cai}} <img src="http://cdn.datafactory.la/escudos_ch/10.gif" height="24" width="24" alt="Independiente" title="Independiente"/></td>
              <td>{{p.torneos_instancias_nombre}}</td>
              <td>{{p.partidos_instancia}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-controller="PartidoNuevoCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Partido Nuevo</h3>
        </div>
        <div class="panel-body">
          <form name="formPartidoNuevo">
            <div class="row">
                <div class="form-group col-lg-6">
                  <label for="diaPartido">Fecha</label>
                  <input type="text" class="form-control" id="diaPartido" name="diaPartido" ng-model="partido.dia" required>
                </div>
                <div class="form-group col-lg-6">
                  <label for="equipoPartido">Equipo</label>
                  <select class="form-control" id="equipoPartido" ng-model="partido.equipo" ng-options="e.equipos_nombre for e in equipos"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                  <label for="torneoPartido">Torneo</label>
                  <select class="form-control" id="torneoPartido" ng-model="partido.torneo" ng-options="t.torneos_instancias_nombre for t in torneos"></select>
                </div>
              <div class="form-group col-lg-6">
                <label for="instanciaPartido">Instancia</label>
                <input type="text" class="form-control" id="instanciaPartido" ng-model="partido.instancia" ng-required=true>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6" ng-init="partido.condicion='L'">
                <div>&nbsp;</div>
                <div class="form-inline">
                  <div class="radio col-lg-4">
                    <label>
                      <input type="radio" name="condicionPartido" ng-model="partido.condicion" id="condicionPartidoLocal" value="L">
                      Local
                    </label>
                  </div>
                  <div class="radio col-lg-4">
                    <label>
                      <input type="radio" name="condicionPartido" ng-model="partido.condicion" id="condicionPartidoVisitante" value="V">
                      Visitante
                    </label>
                  </div>
                  <div class="radio col-lg-4">
                    <label>
                      <input type="radio" name="condicionPartido" ng-model="partido.condicion" id="condicionPartidoNeutral" value="N">
                      Neutral
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label for="torneoPartido">Director Técnico</label>
                <select class="form-control" id="tecnicoPartido" ng-model="partido.tecnico" ng-disabled="true" ng-options="t.personas_nombre+' '+t.personas_apellido for t in tecnicos"></select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="golesCaiPartido">Goles CAI</label>
                <input type="number" class="form-control" id="golesCaiPartido" ng-model="partido.golescai" ng-required=true ng-init="partido.golescai=0">
              </div>
              <div class="form-group col-lg-6">
                <label for="golesRivalPartido">Goles Rival</label>
                <input type="number" class="form-control" id="golesRivalPartido" ng-model="partido.golesrival" ng-required=true ng-init="partido.golesrival=0">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="torneoPartido">Árbitro</label>
                <select class="form-control" id="arbitroPartido" ng-model="partido.arbitro" ng-options="a.personas_nombre+' '+a.personas_apellido for a in arbitros"></select>
              </div>
              <div class="form-group col-lg-6">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-default" ng-click="submitPartidoNuevoForm()">Guardar</button>
                <span class="text-success" ng-show="showMessageOK"><strong>Partido Guardado!</strong></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
